@import '../../../styles/utils/colours';
@import '../../../styles/base/fonts';

.indicator {
  width: 300px;
  font-family: AktivGrotesk;
  margin: 0 auto;
  text-align: center;
  color: $white;
  position: relative;
  overflow: hidden;
  height: 300px;
  border: 2px solid $secondary;
  border-radius: 50%;

  &__slides {
    position: absolute;
    width: 600px;
    height: 300px;
    transition: left 0.5s;
  }

  &__slide {
    float: left;
    width: 300px;
  }

  &__slide__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }

  &__score-is {
    display: block;
  }
  &__score {
    display: block;
  }
  &__max {
    display: block;
  }
}